.container{
  margin: 20px auto;
  display: flex;
  flex-basis: 80%;
  flex-flow: wrap;
  background: #dedede;
  border: 3px solid grey;
  box-shadow: inset -1px 2px grey;
  max-width: 960px;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.heading{
  text-align: center;
  padding:20px;
}

footer{
  max-width: 900px;
  margin: auto;
  order:5;
}

.heading.footer{
  padding: 0px;
  margin: 16px auto;
}

.container .cards-group{
  display: flex;
  flex-basis: 70%;
  flex-flow: wrap;
  max-width: 70%;
}
.container .btn-group {
  display: flex;
  flex-direction: column;
  margin:10px;

}
.container .btn-group button{
    border: 0px;
    outline: 0px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 60px;
    box-shadow: 0px 5px #2B8EAD;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #72C3DC;
    margin:10px;
    cursor: pointer;
}

.container .btn-group button:hover{
  transform: scale(1.05);
}

.container .card{
  padding: 50px;
  width: 70px;
  height:70px;
  display: flex;
  flex-basis: 16%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3em;
  color:#fff;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}


.card1{
  background: #000000;
}
.card2{
background: #2B8EAD
}
.card3{
background: #333333;
}
.card4{
  background: #72C3DC
}
.card5{
background: #BFBFBF
}
.card6{
  background: #6F98A8
}
.card7{
  background: #EFEFEF;
}
.card8{
  background: #72C3DC;
}
.card9{
  background: #2F454E;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width:767px){
  .container{
    margin: 20px auto;
    display: flex;
    background: #fff;
    border: none;
    max-width: 375px;
    box-shadow: none;
    padding:10px;
  }
  
  .header.heading{
    background-color: #2f2929;
    color: #fff;
    font-weight: bold;
    margin-top: 0px;
  }
  
  .container .cards-group{
    flex-basis: 100%;
    max-width: 100%;
    order: 3;
  }
  .container .btn-group {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    padding:10px;
  
  }
  .container .btn-group button{
     max-width: 100px;
    margin: 0px;
    width: 100%;
    width: 100px;
    height: 43px;
  }
  
  .container .card{
    padding: 20px 50px;
    width: 100%;
    height:10px;
    display: flex;
    flex-basis: 100%;
    font-size: 1.5em;
    background: #dedede;
    color:#000;
    border-left-width:10px; 
    margin:10px 0px;
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
  .container .btn-group{
    order:1
  }
  .heading.footer{
    order: 5;
  }

.card1{
   border:10px solid #000;
}
.card2{
  border:10px solid #2B8EAD;
}
.card3{
  border:10px solid #333333;
}
.card4{
  border:10px solid #72C3DC;
}
.card5{
  border:10px solid #BFBFBF;
}
.card6{
  border:10px solid #6F98A8;
}
.card7{
  border:10px solid #6F98A8;
}
.card8{
  border:10px solid #72C3DC;
}
.card9{
  border:10px solid #2F454E;
}
}

@media(min-width:768px) and (max-width:900px){
  .container .cards-group{
    flex-basis: 67%;
    max-width: 67%;
  }
  .container .card{
   flex-basis: 12%;
  max-width: 12%;
  }

}